body {
  background-color: rgb(26, 26, 26);
}

.bg-dark-1 {
  background-color: rgb(2, 3, 5);
}

/* .navbar-brand {
  text-align: right;
} */
/* .h1 {
  display: inline-block;
  color: grey;
} */

section {
  position: relative;
}

/* navbar */
.navbar-image {
  width: 100px;
  margin-top: -5px;
}
/* akhir navbar */

/* main */
.img-fluid {
  background-size: cover;
  height: 100%;
  margin-bottom: 50px;
}

.banner-text {
  position: absolute;
  color: grey;
  text-transform: uppercase;
  margin-left: 50vmin;
  margin-top: 130px;
}

.banner-text-2 {
  font-size: 30px;
  position: absolute;
  color: rgb(61, 61, 61);
  text-transform: lowercase;
  margin-left: 110vmin;
  margin-top: 136px;
}
/* akhir main */

/* about */
.me {
  color: white;
  font-size: 40px;
  text-align: center;
}

.about-image {
  width: 300px;
}

.ary {
  color: rgb(255, 255, 0);
}

.about-text {
  color: rgb(253, 253, 253);
  font-size: 15px;
  text-align: justify;
  margin-top: 80px;
  padding: 50px 50px 50px 50px;
}
/* akhir about */

/* portfolio */
.port-text {
  color: white;
  font-size: 40;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-image {
  width: 100%;
  margin-top: 20px;
}

.portfolio-image-2 {
  width: 100%;
  margin-top: 20px;
}
/* akhir portfolio */

/* blog */
.blog-text {
  color: white;
  font-size: 40;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 60px;
}

#blog a:link {
  text-decoration: none;
}

#blog a:hover {
  color: white;
}

@media (max-width: 990px) {
  .banner-text {
    position: absolute;
    color: grey;
    text-transform: uppercase;
    margin-left: 50vmin;
    margin-top: 90px;
  }

  .banner-text-2 {
    font-size: 30px;
    position: absolute;
    color: rgb(61, 61, 61);
    text-transform: lowercase;
    margin-left: 90vmin;
    margin-top: 126px;
  }
}

@media (max-width: 1100px) {
  .banner-text {
    font-size: 30px;
    position: absolute;
    color: grey;
    text-transform: uppercase;
    margin-left: 50vmin;
    margin-top: 60px;
  }

  .banner-text-2 {
    font-size: 25px;
    position: absolute;
    color: rgb(61, 61, 61);
    text-transform: lowercase;
    margin-left: 53vmin;
    margin-top: 90px;
  }
}

@media (max-width: 600px) {
  .banner-text {
    font-size: 20px;
    position: absolute;
    color: grey;
    text-transform: uppercase;
    margin-left: 5vmin;
    margin-top: 10px;
  }

  .banner-text-2 {
    font-size: 15px;
    position: absolute;
    color: rgb(61, 61, 61);
    text-transform: lowercase;
    margin-left: 5vmin;
    margin-top: 30px;
  }

  .about-image {
    margin-left: 10px;
  }

  .about-text {
    /* padding: 10px 10px 10px 10px; */
    margin-top: 0;
  }
}
